<div class="mt-4">
    <form method="get">
      <div class="form-group">
        <label for="courses" class="form-label">Khóa học</label>
        <input type="text" name="courses" class="form-control" id="courses" aria-describedby="emailHelp" placeholder="Tên khóa học cần tìm">
      
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>